#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* ssid = "your-ssid";
const char* password = "your-password";
const char* mqtt_server = "your-broker-address";
const int mqtt_port=1883;
const char* lines_topic="irrigation-server/lines";
const char* service_topic="irrigation-server";
const char* temperature_topic="irrigation-server/temperature";

#endif
